.Item{
    position: relative;
    width: 100%;
    height: fit-content;
    height: 270px;
    border-bottom: 1px solid black;
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 250px 1fr 270px;
}
.centerContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
}
.itemActions{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 270px;
    padding: 10px;
    gap: 10px;
}
.itemActions button p{
    font-size: 24px;
}
.buttonsBlock{
    width: 90px;
    height: 40px;
    gap: 10px;
    display: flex;
    flex-direction: row;
}
.plus {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #96FA99;
    border-radius: 50%;
    border: none;
}
.minus {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F88686;
    border-radius: 50%;
    border: none;
}
.plus svg, .minus svg {
    fill: black;   
}