header {
    background-color: #ffffff;
    display: grid;
    align-items: center;
    grid-template-columns: 50px 1fr auto;
    border-radius: 16px;
    column-gap: calc(20px + 10vw);
    padding: 0 calc(15px + 2vw);
    box-shadow: 0px 4px 4px 0px #00000040;
}
.actionsBlock {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(auto, 0.3fr) 1fr minmax(auto, 0.3fr);
    gap: 30px;
    height: 50px;
}
.menuButton {
    display: flex;
    text-align: center;
    align-items: center;
    height: 50px;
    padding: 9px 18px;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 400;
    background-color: #EBE7E7;
    color: black;
}


.menuButton {
    flex: 1 0 150px;
    gap: 7px;
}

.logoImage{
    width: 75px;
    height: 75px;
}

.profileBlock{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profileBlock p{
    font-weight: 400;
    font-size: 24px;
}