.product {
    width: 200px;
    height: 255px;
    border-radius: 16px;
    padding: 10px 0;
    gap: 3px;
    background-color: #FFD9B3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}
.amountBlock {
    display: flex;
    gap: 10px;
}
.amountBlock button {
    border: 2px black solid;
    border-radius: 2px;
    width: 24px;
    height: 24px;
    background: none;
    font-size: 22px;
    cursor: pointer;

}
.productImage {
    width: 140px;
    height: 130px;
    border-radius: 16px;
}
.price {
    color: #98503D;
}
/*  */
.moreButton {
    width: 100px;
    height: 30px;

    background-color: #FAF0E6;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border: none;
    border-radius: 16px;
    cursor: pointer;
}