.mainContainer{
    display: flex;
    flex-direction: row;
    padding: 0px 30px;
    gap: 20px;
    flex: 1;
    width: 100%;
}
.signUpForm{
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.formFields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 500px;
}

.formField{
    display: flex;
    font-size: 25px;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px;

}
.formField input{
    display: flex;
    border-radius: 16px;
    border: 1px solid #000000;
    padding: 0 10px;
    background-color: #F7F2F2;
    height: 50px;
    font-size: 20px;
}
.error{
    color: #C80B0B;
    font-size: 20px;
}
.errorInput{
    border: 2px solid  #C80B0B !important;
}
.imgContainer{
    display: flex;
    width: 600px;
    height: 600px;
    justify-content: center;
    flex: 1;
}
.additionalInfo {
    font-size: 25px;
}
.additionalInfoLink {
    color: #98503D;
}