header {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 50px 1fr auto;
    border-radius: 16px;
    column-gap: calc(20px + 10vw);
    padding: 0 calc(15px + 2vw);
}

.actionsBlock {
    display: grid;
    grid-template-columns: minmax(auto, 0.3fr) 1fr minmax(auto, 0.3fr);
    gap: 30px;
    height: 50px;
}
.searchBar {
    flex: 1;
    width: 100%;
}

.menuButton {
    flex: 1 0 150px;
}
