.button{
    width: 250px;
    height: 70px;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FAF0E6;
    font-size: 24px;
}
.primary:hover{
    background-color: #FFD9B3;
}
.primary:active{
    border: 1px solid #FFD9B3;
    background-color: #fff;
}
.secondary:hover{
    background-color: #FFBF80;
}.secondary:active{
    border: 1px solid #FFBF80;
    background-color: #fff;
}
.submit{
    background-color: #EBE7E7;
}
.submit:hover{
    background-color: #C6BBBB;
}
.submit:active{
    background-color: #FFF;
    border: 1px solid #000000;
}