.searchBar {
    flex: 1;
    width: 100%;

    display: flex;
    text-align: center;
    align-items: center;
    height: 50px;
    padding: 9px 18px;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 400;
    background-color: #EBE7E7;
    color: black;
}


.searchIcon{
    fill: none;
} 
.searchBar input{
    width: 100%;
    height: 50px;
    border: none;
    background-color: #EBE7E7;
}