.productList {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 3fr;
}
.filtersBlock {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px
}
.content {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(25px, 4vw, 90px);
    padding: 10px;
}

.searchBar {
    display: flex;

    width: 100%;
    border-radius: 16px;
    padding: 0 10px;
    background-color: #EBE7E7;

    gap: 10px
}

.searchBar input {
    flex: 1;

    background: none;

    border: none;
}
.searchIcon {
    fill: none
}
.selectCategories {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.selectCategories label {
    display: flex;
    gap: 5px;
}